.cuerpo{
    background: rgba(0,0,0,0.74), url(../img/fondo.webp);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%), url(../img/fondo.webp);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.74)), color-stop(18%, rgba(0,0,0,0)), color-stop(59%, rgba(0,0,0,0)), color-stop(92%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0))), url(../img/fondo.webp);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%), url(../img/fondo.webp);
    background: -o-linear-gradient(top, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%), url(../img/fondo.webp);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%), url(../img/fondo.webp);
    background: linear-gradient(to bottom, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 18%, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 92%, rgba(0,0,0,0) 100%), url(../img/fondo.webp);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    
    background-size: cover;
    background-position: center;
}

.navbar-brand{
    color: #f7d57f !important;
    font-family: 'Oswald', sans-serif;
}

.nav-link, .dropdown-item, label{
    font-family: 'Oswald', sans-serif;
    font-size: 1.45rem;
}

.nav-link,.negro{
    color: #fff !important;
}

h1,h2{
    font-family: 'Source Serif Pro', serif;
    color: #fff !important;
    font-size: 3.5rem;
}
h1[class~="amarillo"]{
    font-style: italic;  
}

h2{
    font-size: 2rem;
}

p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

.amarillo{
    color: #e1a400 !important;
}
.bg-amarillo{
    background-color: #e1a400 !important;
}

.negro{
    color: #262626 !important;
}

body,.bg-negro{
    background-color: #262626 !important;
}

.sub{
    text-decoration: underline #262626;
}

@media screen and (max-width: 575px) {
    .barra{
    background-color: #262626;
    }
}


